#----- RocketChat Settings -----
APPLICATION_NAME=rocketchat-maintenance
HOSTNAME_HTTPS=rocketchat-maintenance.pathfinder.gov.bc.ca 
ROCKETCHAT_IMAGE_TAG=3.0
FILE_UPLOAD_STORAGE_SIZE=5Gi
ROCKETCHAT_REPLICAS=3
ROCKETCHAT_MIN_HPA=1
ROCKETCHAT_MAX_HPA=3
MEMORY_REQUEST=1Gi
MEMORY_LIMIT=2Gi
CPU_REQUEST=250m
CPU_LIMIT=500m
VOLUME_CAPACITY=1Gi
SC_MONGO=netapp-block-standard
SC_FILE_UPLOAD=netapp-file-standard


#----- mongodb settings -----
MONGODB_SERVICE_NAME=mongodb-maintenance
MONGODB_SECRET_NAME=mongodb-maintenance